# Application
NODE_ENV=development

# BTPS Server Configuration
BTPS_PORT=3443
BTPS_SERVER_IDENTITY=admin$yourdomain.com
BTPS_IDENTITY_PUBLIC_KEY=BASE64_IDENTITY_PUB_KEY
BTPS_IDENTITY_PRIVATE_KEY=BASE64_IDENTITY_PRIV_KEY
BTPS_CONNECTION_TIMEOUT_MS=30000

# MongoDB Configuration
MONGODB_URI=mongodb://localhost:27017/btps
MONGODB_DB_NAME=btps

# Redis Configuration
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0

# Authentication Configuration
AUTH_TOKEN_LENGTH=12
AUTH_TOKEN_EXPIRY_MS=900000
REFRESH_TOKEN_EXPIRY_MS=604800000

# TLS Configuration
# use yarn base64 to generate one with path to the file. eg: yarn base64 path/to/key
TLS_KEY=BASE64_TLS_KEY
TLS_CERT=BASE64_TLS_CERT

